body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.lred {
    background-color: #f2dede;
}


.lgreen {
    background-color: #cbfdcb;
}

.hght_1em{
    height: 1em;
}

.display_block {
    display:block;
}

.margin_left_vsmall {
    margin-left: 3px;
}
.margin_top_vsmall {
    margin-top: 3px;
}
.margin_top_none {
    margin-top: 0;
}

.margin_bottom_none {
    margin-bottom: 0;
}

.static_error {
    height: 1em;
    display: block;
    -ms-transform: scale(.90); /* IE */
    -moz-transform: scale(.90); /* FF */
    -webkit-transform: scale(.90); /* Safari and Chrome */
    -o-transform: scale(.90); /* Opera */
    transform: scale(.90); 
}

input[type=checkbox] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
}

